/* import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font style */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Outfit", sans-serif;
}


input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.gradient_div {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);

}

